# Variables de entorno para infraestructura y Spring Boot
# Copiar este archivo a .env y llenar con valores reales

# PostgreSQL
DB_USERNAME=despensia
DB_PASSWORD=despensia
POSTGRES_DB=despensia
POSTGRES_USER=despensia
POSTGRES_PASSWORD=despensia

# MongoDB
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin
MONGO_URI=mongodb://admin:admin@mongodb:27017/despensia?authSource=admin

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis123 # Password para Redis

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_USERNAME=kafka
KAFKA_PASSWORD=kafka123 # Password para Kafka (SASL)
KAFKA_CLUSTER_ID=RYH74CQcRbeonCZBoBDALQ

# Spring Profile
SPRING_PROFILES_ACTIVE=local
